In [10]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import os
import gzip
import pandas as pd
from os.path import join, basename

In [12]:
# from utils import indir
# from utils import outdir
# from utils import skiprows
# from utils import genome_ids
# from utils import metacols
# from utils import cols

In [13]:
indir = "/home/lhvu/bio/1000-vcf/vcf/"
outdir = "/home/lhvu/bio/1000-vcf/vcf/parsed"

metacols = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT']
genome_ids = ['HG02070', 'HG01849', 'HG01874', 'HG01599', 'HG01872', 'HG02121', 'HG02078', 'HG02128', 'HG02087', 'HG01846', 'HG02113', 'HG02088', 'HG02140', 'HG02086', 'HG02023', 'HG01843', 'HG02081', 'HG01865', 'HG01597', 'HG01873', 'HG02085', 'HG02139', 'HG01847', 'HG02073', 'HG01848', 'HG02079', 'HG02133', 'HG02028', 'HG01869', 'HG02035', 'HG02137', 'HG02029', 'HG01842', 'HG02138', 'HG02116', 'HG02084', 'HG01867', 'HG02025', 'HG01844', 'HG01850', 'HG02136', 'HG02075', 'HG01857', 'HG01855', 'HG02016', 'HG01866', 'HG02522', 'HG02048', 'HG02026', 'HG02130', 'HG01861', 'HG01596', 'HG02047', 'HG01841', 'HG02060', 'HG01863', 'HG02134', 'HG02067', 'HG02020', 'HG01878', 'HG02072', 'HG01864', 'HG01870', 'HG02512', 'HG02069', 'HG01871', 'HG02141', 'HG02082', 'HG01860', 'HG02049', 'HG01859', 'HG01845', 'HG02142', 'HG02122', 'HG01868', 'HG02019', 'HG01858', 'HG02127', 'HG02032', 'HG02017', 'HG02513', 'HG02057', 'HG02040', 'HG02521', 'HG02050', 'HG02031', 'HG01853', 'HG02061', 'HG01840', 'HG02131', 'HG01851', 'HG02058', 'HG01595', 'HG01598', 'HG02064', 'HG01600', 'HG01862', 'HG01852', 'HG02076']
cols = metacols + genome_ids

skiprows = [i for i in range(19)]

# Input file. Note: this need to change for each chromosome

In [14]:
filename = "ALL.chr21.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf"

In [15]:
infile = join(indir, filename)

In [16]:

outfile = join(outdir, f"{filename}.filtered.csv")

In [17]:
len(genome_ids)

99

# Read the file from disk, will take some time. Note, we read the uncompressed file

In [18]:

df = pd.read_csv(infile, sep = "\t", skiprows=skiprows, usecols=cols)

# After reading the file, hre is the quick check

In [19]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,5033871,.,G,A,.,PASS,AC=5;AN=5096;DP=7186;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,5033884,.,G,A,.,PASS,AC=463;AN=5096;DP=6818;AF=0.09;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
2,21,5033887,.,G,A,.,PASS,AC=32;AN=5096;DP=6774;AF=0.01;EAS_AF=0;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,5035658,.,C,T,.,PASS,AC=2016;AN=5096;DP=12604;AF=0.4;EAS_AF=0.63;EU...,GT,1|1,...,0|0,0|0,1|1,0|1,1|1,1|1,1|1,0|0,0|1,1|0
4,21,5038298,.,A,G,.,PASS,AC=649;AN=5096;DP=10027;AF=0.13;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0

In [20]:
df.shape

(1045269, 108)

# Now, create a mask for all rows that have the above genome_ids that are equal to the target value '0|0'

In [21]:
target_value = '0|0'

In [22]:
mask = (df[genome_ids] == target_value).all(axis=1)

In [23]:
mask[0:10]

0     True
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [24]:
matching_rows = df[mask]

In [25]:
matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,5033871,.,G,A,.,PASS,AC=5;AN=5096;DP=7186;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6,21,5051437,.,C,A,.,PASS,AC=1;AN=5096;DP=18483;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,21,5051474,.,T,A,.,PASS,AC=35;AN=5096;DP=20215;AF=0.01;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
8,21,5052251,.,C,A,.,PASS,AC=154;AN=5096;DP=10311;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,21,5053701,.,T,A,.,PASS,AC=1;AN=5096;DP=3983;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# We are interested in non-matching rows

In [26]:
non_matching_rows = df[~mask]

In [27]:
non_matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
1,21,5033884,.,G,A,.,PASS,AC=463;AN=5096;DP=6818;AF=0.09;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
2,21,5033887,.,G,A,.,PASS,AC=32;AN=5096;DP=6774;AF=0.01;EAS_AF=0;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,5035658,.,C,T,.,PASS,AC=2016;AN=5096;DP=12604;AF=0.4;EAS_AF=0.63;EU...,GT,1|1,...,0|0,0|0,1|1,0|1,1|1,1|1,1|1,0|0,0|1,1|0
4,21,5038298,.,A,G,.,PASS,AC=649;AN=5096;DP=10027;AF=0.13;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
5,21,5038313,.,C,T,.,PASS,AC=503;AN=5096;DP=9723;AF=0.1;EAS_AF=0.02;EUR_...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0

# Save file to disk

In [28]:
outfile = join(outdir, outfile)

In [29]:
non_matching_rows.to_csv(outfile, index=False)

# Save a copy in .gz to disk for portability

In [30]:
outfile_gz = join(outdir, f"{filename}.filtered.csv.gz")

In [31]:
non_matching_rows.to_csv(outfile_gz, index=False)