In [2]:
%load_ext autoreload

In [3]:
import pandas as pd
import os
from os.path import join, basename
import gzip

In [4]:
pd.__version__

'2.2.2'

In [5]:
ids = ['HG02070','HG01849','HG01874','HG01599','HG02525','HG02015','HG01872','HG02121','HG02083','HG02078','HG02128','HG02045','HG02087','HG02027','HG01846','HG02113','HG02088','HG02126','HG02140','HG02086','HG02023','HG01843','HG02081','HG01865','HG01597','HG01873','HG02085','HG02139','HG01847','HG02073','HG02524','HG01848','HG02079','HG02133','HG02028','HG01869','HG02523','HG02035','HG02137','HG02071','HG02029','HG01842','HG02138','HG02116','HG02084','HG02068','HG02080','HG01867','HG02025','HG02120','HG01844','HG01850','HG02136','HG02075','HG01857','HG01855','HG02077','HG02016','HG01866','HG02024','HG02522','HG02048','HG02026','HG02130','HG01861','HG01596','HG02047','HG02129','HG01841','HG02060','HG01863','HG02134','HG02059','HG02046','HG02067','HG02020','HG01878','HG02526','HG02072','HG01864','HG01870','HG02512','HG02069','HG01871','HG02141','HG02082','HG02074','HG01860','HG02049','HG02056','HG02135','HG01859','HG01845','HG02142','HG02132','HG02122','HG01868','HG02019','HG01858','HG02127','HG02032','HG02017','HG02513','HG02057','HG02040','HG02521','HG02050','HG02031','HG01853','HG02061','HG01840','HG02131','HG01851','HG02030','HG02058','HG01595','HG02018','HG01598','HG02064','HG01600','HG02514','HG01862','HG01852','HG02076']

In [6]:
indir = "/home/lhvu/bio/1000-vcf/vcf/zip"
outdir = "/home/lhvu/bio/1000-vcf/vcf/parsed"

In [25]:
infile = join(indir, "ALL.chr21.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf")
infile_gz = join(indir, "ALL.chr21.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf.gz")

In [26]:

outfile = join(outdir, "ALL.chr21.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf.csv")
outfile_gz = join(outdir, "ALL.chr21.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf.csv.gz")

In [9]:
metacols = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT']

In [11]:
vn_genome_ids = ['HG02070', 'HG01849', 'HG01874', 'HG01599', 'HG01872', 'HG02121', 'HG02078', 'HG02128', 'HG02087', 'HG01846', 'HG02113', 'HG02088', 'HG02140', 'HG02086', 'HG02023', 'HG01843', 'HG02081', 'HG01865', 'HG01597', 'HG01873', 'HG02085', 'HG02139', 'HG01847', 'HG02073', 'HG01848', 'HG02079', 'HG02133', 'HG02028', 'HG01869', 'HG02035', 'HG02137', 'HG02029', 'HG01842', 'HG02138', 'HG02116', 'HG02084', 'HG01867', 'HG02025', 'HG01844', 'HG01850', 'HG02136', 'HG02075', 'HG01857', 'HG01855', 'HG02016', 'HG01866', 'HG02522', 'HG02048', 'HG02026', 'HG02130', 'HG01861', 'HG01596', 'HG02047', 'HG01841', 'HG02060', 'HG01863', 'HG02134', 'HG02067', 'HG02020', 'HG01878', 'HG02072', 'HG01864', 'HG01870', 'HG02512', 'HG02069', 'HG01871', 'HG02141', 'HG02082', 'HG01860', 'HG02049', 'HG01859', 'HG01845', 'HG02142', 'HG02122', 'HG01868', 'HG02019', 'HG01858', 'HG02127', 'HG02032', 'HG02017', 'HG02513', 'HG02057', 'HG02040', 'HG02521', 'HG02050', 'HG02031', 'HG01853', 'HG02061', 'HG01840', 'HG02131', 'HG01851', 'HG02058', 'HG01595', 'HG01598', 'HG02064', 'HG01600', 'HG01862', 'HG01852', 'HG02076']

In [12]:
len(vn_genome_ids)

99

In [13]:
cols = metacols + vn_genome_ids

In [14]:
skiprows = len([i for i in range(19)]) - 1

In [15]:
skiprows = [i for i in range(19)]

In [24]:
#cols

In [17]:

df = pd.read_csv(infile, sep = "\t", skiprows=skiprows, usecols=cols)

In [18]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,5033871,.,G,A,.,PASS,AC=5;AN=5096;DP=7186;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,5033884,.,G,A,.,PASS,AC=463;AN=5096;DP=6818;AF=0.09;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
2,21,5033887,.,G,A,.,PASS,AC=32;AN=5096;DP=6774;AF=0.01;EAS_AF=0;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,5035658,.,C,T,.,PASS,AC=2016;AN=5096;DP=12604;AF=0.4;EAS_AF=0.63;EU...,GT,1|1,...,0|0,0|0,1|1,0|1,1|1,1|1,1|1,0|0,0|1,1|0
4,21,5038298,.,A,G,.,PASS,AC=649;AN=5096;DP=10027;AF=0.13;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045264,21,46683940,.,T,C,.,PASS,AC=12;AN=5096;DP=21264;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1045265,21,46683943,.,T,G,.,PASS,AC=1;AN=5096;DP=21221;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1045266,21,46683987,.,C,T,.,PASS,AC=1;AN=5096;DP=20306;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1045267,21,46684964,.,T,C,.,PASS,AC=2;AN=5096;DP=20010;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1045268,21,46696120,.,A,C,.,PASS,AC=132;AN=5096;DP=21738;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [19]:
df.shape

(1045269, 108)

In [20]:
#edf = pd.read_csv(infile, sep = "\t", skiprows=skiprows, usecols=cols, engine='c')

In [27]:
df.to_csv(outfile, index=False)

In [28]:
df.to_csv(outfile_gz, index=False, compression='gzip')

In [22]:
#cdf = pd.read_csv(infile_gz, sep = "\t", skiprows=skiprows, usecols=cols, engine='c', compression='gzip')

In [23]:
#pdf = pd.read_csv(infile_gz, skiprows=19, header=None, sep = "\t", engine='pyarrow', compression='gzip')