In [5]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import os
import gzip
import pandas as pd
from os.path import join, basename

In [7]:
# from utils import indir
# from utils import outdir
# from utils import skiprows
# from utils import genome_ids
# from utils import metacols
# from utils import cols

In [8]:
indir = "/home/lhvu/bio/1000-vcf/vcf/"
outdir = "/home/lhvu/bio/1000-vcf/vcf/parsed"

metacols = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT']
genome_ids = ['HG02070', 'HG01849', 'HG01874', 'HG01599', 'HG01872', 'HG02121', 'HG02078', 'HG02128', 'HG02087', 'HG01846', 'HG02113', 'HG02088', 'HG02140', 'HG02086', 'HG02023', 'HG01843', 'HG02081', 'HG01865', 'HG01597', 'HG01873', 'HG02085', 'HG02139', 'HG01847', 'HG02073', 'HG01848', 'HG02079', 'HG02133', 'HG02028', 'HG01869', 'HG02035', 'HG02137', 'HG02029', 'HG01842', 'HG02138', 'HG02116', 'HG02084', 'HG01867', 'HG02025', 'HG01844', 'HG01850', 'HG02136', 'HG02075', 'HG01857', 'HG01855', 'HG02016', 'HG01866', 'HG02522', 'HG02048', 'HG02026', 'HG02130', 'HG01861', 'HG01596', 'HG02047', 'HG01841', 'HG02060', 'HG01863', 'HG02134', 'HG02067', 'HG02020', 'HG01878', 'HG02072', 'HG01864', 'HG01870', 'HG02512', 'HG02069', 'HG01871', 'HG02141', 'HG02082', 'HG01860', 'HG02049', 'HG01859', 'HG01845', 'HG02142', 'HG02122', 'HG01868', 'HG02019', 'HG01858', 'HG02127', 'HG02032', 'HG02017', 'HG02513', 'HG02057', 'HG02040', 'HG02521', 'HG02050', 'HG02031', 'HG01853', 'HG02061', 'HG01840', 'HG02131', 'HG01851', 'HG02058', 'HG01595', 'HG01598', 'HG02064', 'HG01600', 'HG01862', 'HG01852', 'HG02076']
cols = metacols + genome_ids

skiprows = [i for i in range(19)]

# Input file. Note: this need to change for each chromosome

In [9]:
filename = "ALL.chr16.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf"

In [10]:
infile = join(indir, filename)

In [11]:

outfile = join(outdir, f"{filename}.filtered.csv")

In [12]:
len(genome_ids)

99

# Read the file from disk, will take some time. Note, we read the uncompressed file

In [13]:

df = pd.read_csv(infile, sep = "\t", skiprows=skiprows, usecols=cols)

# After reading the file, hre is the quick check

In [14]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,16,10031,.,T,C,.,PASS,AC=155;AN=5096;DP=4237;AF=0.03;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
1,16,10036,.,G,C,.,PASS,AC=157;AN=5096;DP=4432;AF=0.03;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
2,16,10647,.,A,AGG,.,PASS,AC=3805;AN=5096;DP=6628;AF=0.75;EAS_AF=0.67;EU...,GT,0|1,...,1|1,0|0,1|1,0|1,1|1,1|1,0|1,1|1,1|0,1|1
3,16,10790,.,A,G,.,PASS,AC=120;AN=5096;DP=4060;AF=0.02;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|1
4,16,11349,.,G,A,.,PASS,AC=2620;AN=5096;DP=7996;AF=0.51;EAS_AF=0.2;EUR...,GT,0|1,...,1|1,0|0,1|0,0|0,1|1,0|0,0|0,0|1,0|0,1|1

In [15]:
df.shape

(2548920, 108)

# Now, create a mask for all rows that have the above genome_ids that are equal to the target value '0|0'

In [16]:
target_value = '0|0'

In [17]:
mask = (df[genome_ids] == target_value).all(axis=1)

In [18]:
mask[0:10]

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [19]:
matching_rows = df[mask]

In [20]:
matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
5,16,11525,.,G,T,.,PASS,AC=6;AN=5096;DP=12460;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6,16,12417,.,G,A,.,PASS,AC=3;AN=5096;DP=17777;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,16,12427,.,G,T,.,PASS,AC=2;AN=5096;DP=17009;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
8,16,12439,.,A,G,.,PASS,AC=1;AN=5096;DP=15984;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,16,12444,.,T,G,.,PASS,AC=36;AN=5096;DP=16171;AF=0.01;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# We are interested in non-matching rows

In [21]:
non_matching_rows = df[~mask]

In [22]:
non_matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,16,10031,.,T,C,.,PASS,AC=155;AN=5096;DP=4237;AF=0.03;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
1,16,10036,.,G,C,.,PASS,AC=157;AN=5096;DP=4432;AF=0.03;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
2,16,10647,.,A,AGG,.,PASS,AC=3805;AN=5096;DP=6628;AF=0.75;EAS_AF=0.67;EU...,GT,0|1,...,1|1,0|0,1|1,0|1,1|1,1|1,0|1,1|1,1|0,1|1
3,16,10790,.,A,G,.,PASS,AC=120;AN=5096;DP=4060;AF=0.02;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|1
4,16,11349,.,G,A,.,PASS,AC=2620;AN=5096;DP=7996;AF=0.51;EAS_AF=0.2;EUR...,GT,0|1,...,1|1,0|0,1|0,0|0,1|1,0|0,0|0,0|1,0|0,1|1

# Save file to disk

In [23]:
outfile = join(outdir, outfile)

In [24]:
non_matching_rows.to_csv(outfile, index=False)

# Save a copy in .gz to disk for portability

In [25]:
outfile_gz = join(outdir, f"{filename}.filtered.csv.gz")

In [26]:
non_matching_rows.to_csv(outfile_gz, index=False)