In [1]:
%load_ext autoreload

In [2]:
import os
import gzip
import pandas as pd
from os.path import join, basename

In [3]:
# from utils import indir
# from utils import outdir
# from utils import skiprows
# from utils import genome_ids
# from utils import metacols
# from utils import cols

In [4]:
indir = "/home/lhvu/bio/1000-vcf/vcf/"
outdir = "/home/lhvu/bio/1000-vcf/vcf/parsed"

metacols = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT']
genome_ids = ['HG02070', 'HG01849', 'HG01874', 'HG01599', 'HG01872', 'HG02121', 'HG02078', 'HG02128', 'HG02087', 'HG01846', 'HG02113', 'HG02088', 'HG02140', 'HG02086', 'HG02023', 'HG01843', 'HG02081', 'HG01865', 'HG01597', 'HG01873', 'HG02085', 'HG02139', 'HG01847', 'HG02073', 'HG01848', 'HG02079', 'HG02133', 'HG02028', 'HG01869', 'HG02035', 'HG02137', 'HG02029', 'HG01842', 'HG02138', 'HG02116', 'HG02084', 'HG01867', 'HG02025', 'HG01844', 'HG01850', 'HG02136', 'HG02075', 'HG01857', 'HG01855', 'HG02016', 'HG01866', 'HG02522', 'HG02048', 'HG02026', 'HG02130', 'HG01861', 'HG01596', 'HG02047', 'HG01841', 'HG02060', 'HG01863', 'HG02134', 'HG02067', 'HG02020', 'HG01878', 'HG02072', 'HG01864', 'HG01870', 'HG02512', 'HG02069', 'HG01871', 'HG02141', 'HG02082', 'HG01860', 'HG02049', 'HG01859', 'HG01845', 'HG02142', 'HG02122', 'HG01868', 'HG02019', 'HG01858', 'HG02127', 'HG02032', 'HG02017', 'HG02513', 'HG02057', 'HG02040', 'HG02521', 'HG02050', 'HG02031', 'HG01853', 'HG02061', 'HG01840', 'HG02131', 'HG01851', 'HG02058', 'HG01595', 'HG01598', 'HG02064', 'HG01600', 'HG01862', 'HG01852', 'HG02076']
cols = metacols + genome_ids

skiprows = [i for i in range(19)]

# Input file. Note: this need to change for each chromosome

In [5]:
filename = "ALL.chr9.shapeit2_integrated_snvindels_v2a_27022019.GRCh38.phased.vcf"

In [6]:
infile = join(indir, filename)

In [7]:

outfile = join(outdir, f"{filename}.filtered.csv")

In [8]:
len(genome_ids)

99

# Read the file from disk, will take some time. Note, we read the uncompressed file

In [9]:

df = pd.read_csv(infile, sep = "\t", skiprows=skiprows, usecols=cols)

# After reading the file, hre is the quick check

In [10]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,9,10648,.,G,A,.,PASS,AC=391;AN=5096;DP=20978;AF=0.08;EAS_AF=0.07;EU...,GT,0|0,...,0|0,0|0,0|1,0|0,0|1,1|0,0|0,0|0,0|0,0|1
1,9,10689,.,C,A,.,PASS,AC=4;AN=5096;DP=23990;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,9,10690,.,G,A,.,PASS,AC=21;AN=5096;DP=24047;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,9,10691,.,G,A,.,PASS,AC=31;AN=5096;DP=24143;AF=0.01;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,9,10709,.,G,A,.,PASS,AC=8;AN=5096;DP=22689;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [11]:
df.shape

(3384360, 108)

# Now, create a mask for all rows that have the above genome_ids that are equal to the target value '0|0'

In [12]:
target_value = '0|0'

In [13]:
mask = (df[genome_ids] == target_value).all(axis=1)

In [14]:
mask[0:10]

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8    False
9     True
dtype: bool

In [15]:
matching_rows = df[mask]

In [16]:
matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
1,9,10689,.,C,A,.,PASS,AC=4;AN=5096;DP=23990;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,9,10690,.,G,A,.,PASS,AC=21;AN=5096;DP=24047;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,9,10691,.,G,A,.,PASS,AC=31;AN=5096;DP=24143;AF=0.01;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,9,10709,.,G,A,.,PASS,AC=8;AN=5096;DP=22689;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6,9,10724,.,G,A,.,PASS,AC=31;AN=5096;DP=20777;AF=0.01;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# We are interested in non-matching rows

In [17]:
non_matching_rows = df[~mask]

In [18]:
non_matching_rows.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,9,10648,.,G,A,.,PASS,AC=391;AN=5096;DP=20978;AF=0.08;EAS_AF=0.07;EU...,GT,0|0,...,0|0,0|0,0|1,0|0,0|1,1|0,0|0,0|0,0|0,0|1
5,9,10717,.,G,A,.,PASS,AC=144;AN=5096;DP=21327;AF=0.03;EAS_AF=0.03;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,0|1
8,9,10743,.,G,C,.,PASS,AC=83;AN=5096;DP=19142;AF=0.02;EAS_AF=0.04;EUR...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,9,10968,.,G,A,.,PASS,AC=1422;AN=5096;DP=16953;AF=0.28;EAS_AF=0.39;E...,GT,1|0,...,0|1,0|1,0|0,0|1,1|0,1|0,1|0,0|0,1|0,0|1
11,9,10976,.,C,G,.,PASS,AC=210;AN=5096;DP=14857;AF=0.04;EAS_AF=0.06;EU...,GT,0|1,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Save file to disk

In [19]:
outfile = join(outdir, outfile)

In [20]:
non_matching_rows.to_csv(outfile, index=False)

# Save a copy in .gz to disk for portability

In [21]:
outfile_gz = join(outdir, f"{filename}.filtered.csv.gz")

In [22]:
non_matching_rows.to_csv(outfile_gz, index=False)